*{
	box-sizing: border-box;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


html {
	height: 100%;
}

body{
	margin:0;
	padding: 0;
	background:blueviolet;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.containerMain{
    display: flex;
    justify-content:space-between;

   
    background-color: aqua;
    min-height: 600px;
}

.containerPic{
   position: relative;
   top: 100px;
   left: -10%;
   
}
.containerText{
    margin: 50px;
   
}
.question{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.arrow{
	width:20px;
	background-image: url("images/icon-arrow-down.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	
	background-size:contain;
	transform: rotate(180deg);
}
.up{
	width:20px;
	background-image: url("images/icon-arrow-down.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	
	background-size:contain;
	
}

.rightPost{
   
    width: 450px;
}